In [7]:
import sys
import os

sys.path.append(os.path.abspath("../src"))

In [8]:
import pandas as pd

df = pd.read_csv("../data/raw/journal_entries(Sheet1).csv")
df.head()

   id        date                                               text
0   1  2024-01-01  i am ever feeling nostalgic about the fireplac...
1   2  2024-01-02  i have been with petronas for years i feel tha...
2   3  2024-01-03                                i feel romantic too
3   4  2024-01-04  i do feel that running is a divine experience ...
4   5  2024-01-05  i have immense sympathy with the general point...

In [9]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      30 non-null     int64
 1   date    30 non-null     datetime64[ns]
 2   text    30 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 852.0+ bytes

In [4]:
df = df.sort_values("date").reset_index(drop=True)

In [10]:
from preprocess import clean_text

df['clean_text'] = df['text'].apply(clean_text)
df[['text', 'clean_text']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

,text,clean_text
0,i am ever feeling nostalgic about the fireplac...,ever feeling nostalgic fireplace know still pr...
1,i have been with petronas for years i feel tha...,petronas years feel petronas performed well ma...
2,i feel romantic too,feel romantic
3,i do feel that running is a divine experience ...,feel running divine experience expect type spi...
4,i have immense sympathy with the general point...,immense sympathy general point possible proto ...